*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-bg{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.container{
    margin: 0 auto;
    padding: 60px 100px 80px;
    width: auto;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.debug{
    border: solid 1px white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 14px 8px;
    
    
    

}

.user-webcam{
    /* background-color: white; */
    flex-basis: calc((100% - 208px) / 7 );
    flex-grow: 1;
}

.container > a{
    display: inline-block;
}