*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.main-bg{
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
}

.container{
    margin: 0 auto;
    padding: 60px 50px 50px;
    overflow: auto;
    flex-grow: 1;
}


img{
    width: 100%;
    height: 100%;
    display: block;
}


.debug{
    border: solid 1px white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 14px 8px;
    justify-content: center;
    height: 100%;
}

.user-webcam{
    /* background-color: white; */
    flex-basis: 230px;
    /* flex-grow: 1; */
   
}


.top-icons{
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 99;
    
}

.speaker-icon, .expand-icon{
background-color: #4A4A4A;
padding: 5px 6px;
display: inline-block;
border-radius: 4px;

}

.speaker-icon{
    margin-right: 6px;
}

.user-info{
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgb(231, 230, 230);
    padding: 6px 4px;
    font-weight: 500;
}

.container-menu{
    width: 100%;
    background-color: #222222;
    /* position: fixed; */
    height: 80px;
    /* bottom: 0;
    left: 0;
    right: 0;*/
}


.row-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

 .buttons{
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    
 }   


.button-composition{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    
} 

.menu-icons{
    font-size: 28px;
}

.end-button{
    
    color: red;
    /* padding: 28px 15px; */
    /* height: 100%; */
    display: block;
    /* background-color: rgb(65, 64, 64); */
    
}

.end-bg{
    background-color: rgb(65, 64, 64);
    height: 100%;
    display: flex;
    align-items:center
}

.user-webcam figure{
    position: relative;
}

.green{
    color: rgb(81, 180, 81);
}

.app-container{
    display: flex;
    flex-direction: column;
    height: 100vh;

}